<%-include("partials/header");-%>

<script src="https://kit.fontawesome.com/1c9ad4b785.js" crossorigin="anonymous"></script>
<h1>Contact</h1>
<p class="content">
  <%= contactContent %>
</p>
<div class="icon">
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="https://www.facebook.com/srinishaa.prabhakaran"><i class="fa fa-facebook-f"></i></a>
  <a href="https://www.instagram.com/_odyssey_sings/"><i class="fa fa-instagram"></i></a>
  <a href="mailto:srinishaa@gmail.com"><i class="fa fa-envelope"></i></a>
</div>

<%-include("partials/footer");-%>
